body {
    background: linear-gradient(to bottom, #1e5799, #7db9e8);
}
img {
    object-fit: cover;
}

form {
    background-color: aliceblue;
    width: 400px;
    margin: auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50.2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.errorMessage {
    color: red;
}

.logister-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.logister-btn:hover {
    background-color: #3e8e41;
}

.register-form {
    margin-bottom: 17.5vh;
}

.form-group>.show-password-button {
    position: relative;
    bottom: 0px;
    left: calc(100%-100px);
    font: 300 16px 'Lato', sans-serif;
    color: var(--form-help);
    background-color: transparent;
    padding: 0 5px 0 5px;
    user-select: none;
    z-index: 4;
    height: 100%;
    border: none;
}