* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #1e5799, #7db9e8);
}

.Logout-button {
    background-color: #ff0000;
    color: #f6e8e8;
    float: right;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    padding: 2px;
    margin-top: 5px;
}

.Logout-button:hover {
    background-color: #cc0e0e;
}

.container {
    display: flex;
    height: 87vh;
    margin-left: 180px;
    margin-top: 2vh;
    margin-bottom: 7.7vh;
    border-radius: 10px;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #112e4f;
    padding: 4px;
    border-radius: 10px 0 0 10px;
    width: 430px;
}

.right-panel {
    flex: 3;
    background-color: #FFF2CC;
    width: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: aliceblue;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding-top: 20px;
    padding-left: 15px;
}

.addContactButton {
    position: relative;
    background-color: #00d5ff;
    color: #002b03;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    left: 100px;
}

.modal-body{
    height: 35vh;
}

form {
    margin-bottom: 0px;
    margin-top: 20px;
}

.contacts-list {
    padding: 0px;
    width: 200px;
}

.contact {
    cursor: pointer;
    height: 70px;
    padding: 0px;
}

.contactSelected {
    background-color: #ccc;
    cursor: pointer;
    height: 80px;
    padding: 0px;
    padding-left: 5px;
}

.contactPic {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 8px;
}

.contact .info {
    margin-left: 10px;
    width: 400px;
    height: 35px;
}

.lastMessage {
    position: relative;
    float: right;
    width: 140px;
}

.last-message {
    font-size: 14px;
    color: #236c25;
    margin-top: 27px;
    margin-left: 20px;
    float: left;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.last-message-date {
    font-size: 12px;
    color: #0e9cee;
    float: right;
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.contact:hover {
    background-color: #dddddd;
}

.contact-list {
    overflow-y: scroll;
    height: calc(85vh - 100px);
    background-color: #eee;
    border-radius: 4px;
}

.contact-list::-webkit-scrollbar {
    width: 5px;
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: #5e83ae;

}

.contact-list::-webkit-scrollbar-track {
    background-color: #b5d3ea;
}

.contact-info {
    display: flex;
    align-items: center;
    padding: 17px;
    border-bottom: 1px solid #ddd;
    background-color: aliceblue;
    border-radius: 0 10px 0 0;
}

.contact-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat {
    flex: 1;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    width: 5px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #5e83ae;
}

.chat::-webkit-scrollbar-track {
    background-color: #b5d3ea;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.message p {
    margin: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.message.sent {
    align-items: flex-start;
}

.message.received {
    align-items: flex-end;
    margin-left: auto;
}

.message.sent .text {
    color: aliceblue;
    background-color: #0084ff;
    border-radius: 8px 8px 8px 0;
}

.message.received .text {
    background-color: #ddd;
    color: #000;
    margin-left: auto;
    border-radius: 8px 8px 0 8px;
}

.message.sent .date {
    text-align: left;
    text-size-adjust: 14px;
}

.received-text {
    background-color: #DCF8C6;
    /* example background color */
    padding: 10px;
    /* example padding */
    border-radius: 10px;
    /* example border radius */
    display: inline-block;
    /* to make the div only as wide as the content */
}

.received-time {
    font-size: 12px;
    /* example font size */
    color: #777;
    /* example color */
    margin-left: 10px;
    /* example margin */
}

.message.received .date {
    text-align: right;
}

.input-bar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.input-bar input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.send-button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0073e6;
}